.practica{
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(255, 217, 127);
}
.practica h2{
    font-family: 'Courier New', Courier, monospace;
    color: brown;
}